<div id="rightDiv">
                <div id ="formDiv">
                    <h2 id ="formHead">Whats your question today?</h2>
                    <form id ="formForm" action="/discussion/add" method="POST">
                        <input id ="formSub" name="subject" placeholder="Subject" type="text" required maxlength="50">
                        <br>
                        <textarea id ="formBod" name="body" placeholder="Explain in detail ..." type="text" required maxlength="300"></textarea>
                        <br>
                        <select id ="formTopic" name="topic" required>
                            <option value="" selected disabled hidden>Topic</option>
                            <option value="php">php</option>
                            <option value="nodejs">nodejs</option>
                            <option value="java">java</option>
                            <option value="sql">sql</option>
                            <option value="zend">zend</option>
                          </select>
                        <button id ="formButton">Post to Timeline</button>
                    </form>
                </div>

                <div id ="discDiv">
                    <form id ="topicForm" action="/discussion/searchtopic" method="POST">
                        <p id ="topicLab">Search by Topic</p>
                        <select id ="topicSel" name="topic" required oninvalid="this.setCustomValidity('Topic already selected')" oninput="this.setCustomValidity('')"  >
                            <option value="" selected disabled hidden>{{selectedtopic}}</option>
                            <option value="all">All</option>
                            <option value="php">php</option>
                            <option value="nodejs">nodejs</option>
                            <option value="java">java</option>
                            <option value="sql">sql</option>
                            <option value="zend">zend</option>
                          </select>
                        <button id ="topicBtn">Go -></button>
                    </form>
                    <p>Latest discussion</p>
                    <ul id ="discList">
                        {{#each disc}}
                        <li id ="discListItem">
                            <div id ="disc">
                                <a href="/">
                                    <img id ="friendImg" src="{{this.imageurl}}" alt="Smiley face">
                                </a>
                                <div id ="discInfo">
                                    <p id ="discSub">{{this.title}}</p>                <p id ="discTopic">{{this.topic}}</p>
                                    <p id ="discBody">{{this.body}}</p>
                                    <p id ="discDate">{{this.re_format}}</p>           <a id ="discReplies" href='javascript:;' onclick='show_replies(this)'>{{this.repliesnum}} replies</a>
                                    <div id ="allReplies">
                                        <ul id ="replyList">
                                            {{#each replies}}
                                            <li id ="replyListItem">
                                                <div id ="reply">
                                                    <a href="/">    
                                                        <img id ="friendReplyImg" src="{{this.imageurl}}" alt="Smiley face">
                                                    </a>
                                                    <div id ="replyInfo">
                                                         <p id ="replyBody">{{this.body}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                             {{/each}}
                                        </ul>
                                        <div id = "newReplyDiv">
                                            <form id ="replyForm" action="/discussion/addreply/{{this.id}}" method="POST">
                                                <textarea id ="replyBod" name="body" placeholder="Add your reply ..." type="text" required maxlength="300"></textarea>
                                                <br>
                                                <button id ="replyButton">Comment</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <br><br>
                        {{/each}}
                         
                    </ul>
                    <div id= "navDiv">
                        {{#if truePrev}}
                        <form id ="prevForm" action="/discussion/prevPage" method="POST">
                            <button id ="prevBtn"><- Prevous</button>
                        </form>
                        {{/if}}
                        
                        {{#if trueNext}}
                        <form id ="nextForm" action="/discussion/nextPage" method="POST">
                            <button id ="nextBtn">Next -></button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>