<div id="rightDiv">
                <div id ="discDiv">
                    <h2 id ="formHead">All your posts</h2>
                    <ul id ="discList">
                        {{#each disc}}
                        <li id ="discListItem">
                            <div id ="disc">
                                <a href="/">
                                    <img id ="friendImg" src="{{this.imageurl}}" alt="Smiley face">
                                </a>
                                <div id ="discInfo">
                                    <p id ="discSub">{{this.title}}</p>                <p id ="discTopic">{{this.topic}}</p>
                                    <p id ="discBody">{{this.body}}</p>
                                    <p id ="discDate">{{this.re_format}}</p>           <a id ="discReplies" href='javascript:;' onclick='show_replies(this)'>{{this.repliesnum}} replies</a>
                                    <div id ="allReplies">
                                        <ul id ="replyList">
                                            {{#each replies}}
                                            <li id ="replyListItem">
                                                <div id ="reply">
                                                    <a href="/">    
                                                        <img id ="friendReplyImg" src="{{this.imageurl}}" alt="Smiley face">
                                                    </a>
                                                    <div id ="replyInfo">
                                                         <p id ="replyBody">{{this.body}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                             {{/each}}
                                        </ul>
                                        <div id = "newReplyDiv">
                                            <form id ="replyForm" action="/user/profile/posts/addreply/{{this.id}}" method="POST">
                                                <textarea id ="replyBod" name="body" placeholder="Add your reply ..." type="text" required maxlength="300"></textarea>
                                                <br>
                                                <button id ="replyButton">Comment</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <br><br>
                        {{/each}}
                         
                    </ul>
                    <div id= "navDiv">
                        {{#if truePrev}}
                        <form id ="prevForm" action="/user/profile/posts/prevPage" method="POST">
                            <button id ="prevBtn"><- Prevous</button>
                        </form>
                        {{/if}}
                        
                        {{#if trueNext}}
                        <form id ="nextForm" action="/user/profile/posts/nextPage" method="POST">
                            <button id ="nextBtn">Next -></button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>