<div id ="userDiv">
                <a href="/user/{{user.id}}">
                    <img id ="userPic" src='{{user.imageurl}}' alt="Smiley face">
                </a>
                <h3 id ="userName">{{user.firstname}} {{user.lastname}}</h3>
                <p id ="userAbout">{{user.about}}</p>
                <a id ="userPosts" href="/profile/posts">Posts</a>           <p id ="postNum">{{discposts.posts}}</p> <br>
                <a id ="userMsg" href="/message/{{user.id}}">Messages</a>          <p id ="msgNum">{{msgnum.messages}}</p> <br>
                <p id ="userLikes">Likes</p>                    <p id ="likeNum">{{user.likes}}</p> <br>
                <a id ="edit" href="/profile/editor">Edit Profile</a>
            </div>