{{>header}}

<div id="editDiv">
    <h2 id ="editTitle">Edit your information</h2>
    <form id ="editForm" action="/profile/edit" method="POST">
        <img id ="userImg" src='{{user.imageurl}}' alt="Smiley face">
        <p id ="imgLbl">Image URL</p>
        <input id ="imgInp" name="imageurl" value="{{user.imageurl}}" type="url" required>
        <p id ="firstNameLbl">First Name</p>
        <p id ="lastNameLbl">Last Name</p>
        <input id ="firstNameInp" name="firstname" value="{{user.firstname}}" type="text" required maxlength="20">
        
        <input id ="lastNameInp" name="lastname" value="{{user.lastname}}" type="text" maxlength="20" required>
        <p id ="countryLbl">Country</p>
        <input id ="countryInp" name="country" value="{{user.country}}" type="text" required maxlength="50">
        <p id ="DOBLbl">Date of Birth</p>
        <input type="date" id="DOBInp" name="dob" value="{{user.re_format}}" required>
        <p id ="aboutLbl">About</p>
        <textarea id ="aboutInp" name="about" type="text" required maxlength="300">{{user.about}}</textarea>
        <br>
        <button id ="editSubmit">Save and Update Profile</button>
    </form>
</div>