{{>header}}

<div id="profileDiv">
    
    <div id = "userInfo">
        <a href="/user/{{user.id}}">
            <img id ="userPic" src='{{user.imageurl}}' alt="Smiley face">
        
        </a>
        <h2 id ="userName">{{user.firstname}} {{user.lastname}}</h2>
        <h3 id ="userAbout">{{user.about}}</h3>
        <h3 id ="userLocation">{{user.country}}</h3>
    </div>

    <div id = "userMisc">
        <form id ="replyForm" action="/message/{{user.id}}" method="GET">
            <button id ="msgButton">Message</button>                           
        </form><br>
        <p id ="likeCount">{{user.likes}}</p>         <p id ="userLike">Likes</p>  
        {{#if notsame}}
            {{#if likedTrue}}
            <form id ="likeForm" action="/user/{{user.id}}/dislike" method="POST">
                <button id = "likeButton2"> - </button>
            </form> 
            {{else}}
             <form id ="likeForm" action="/user/{{user.id}}/like" method="POST">
                <button id = "likeButton"> + </button>
            </form> 
            {{/if}}
        {{/if}}
        

        <p id="userPosts">{{discposts.posts}} Posts</p><br>
    </div>

    <div id="userPosts">
    {{>userPosts}}
    </div>


    
</div>